In [6]:
import streamlit as st
import pandas as pd
import plotly.express as px

# Load the dataset
df_us_cars = pd.read_csv('../vehicles_us.csv')

# Clean column names
df_us_cars.columns = df_us_cars.columns.str.strip().str.lower()

# Check missing values
missing_values = df_us_cars.isnull().sum()
st.write("Missing values in each column:", missing_values)

# Convert 'price' and 'odometer' to numeric if needed
df_us_cars['price'] = pd.to_numeric(df_us_cars['price'], errors='coerce')
df_us_cars['odometer'] = pd.to_numeric(df_us_cars['odometer'], errors='coerce')

df_us_cars = df_us_cars.fillna({'price': 0, 'model': 'Unknown', 'model_year': 0})

# Convert 'year' to integer
df_us_cars['model_year'] = df_us_cars['model_year'].astype(int)

2024-09-28 01:51:16.151 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-28 01:51:16.152 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-28 01:51:16.153 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-28 01:51:16.153 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-28 01:51:16.158 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-28 01:51:16.159 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

       make   model
0       bmw      x5
1      ford   f-150
2   hyundai  sonata
3      ford   f-150
4  chrysler     200

In [7]:
df_us_cars.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make
0,9400,2011,x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw
1,25500,0,f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford
2,5500,2013,sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai
3,1500,2003,f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,ford
4,14900,2017,200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler